body {
    background-color: rgb(77, 146, 235);
    font: normal 15pt Arial;
}

header {
    text-align: center;
    color: white
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
}

div#res {
    padding: 5px;
    text-align: left;
    
}
label {
    display: inline-block;
    width: 100px;
}